/*
* CP/M floppy disk images plugin for the Total Commander.
* Copyright (c) 2022-2025, Oleg Farenyuk aka Indrekis ( indrekis@gmail.com )
*
*/
// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// English (United Kingdom) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENG)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_FORMAT_SELECT DIALOGEX 0, 0, 262, 162
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Choose image format"
FONT 12, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Failed to open image.",IDC_STATIC_TITLE,80,5,82,12
    LTEXT           "Select format:",IDC_STATIC_FORMAT,10,23,80,12
    COMBOBOX        IDC_COMBO_FORMAT,95,21,150,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Sector length:",IDC_STATIC_SECLENGTH,10,38,80,12
    EDITTEXT        IDC_EDIT_SECLENGTH,69,36,60,14,ES_RIGHT | ES_READONLY
    LTEXT           "Tracks:",IDC_STATIC_TRACKS,139,38,50,12
    EDITTEXT        IDC_EDIT_TRACKS,194,36,60,14,ES_RIGHT | ES_READONLY
    LTEXT           "Sectors/track:",IDC_STATIC_SECTRK,10,54,80,12
    EDITTEXT        IDC_EDIT_SECTRK,69,52,60,14,ES_RIGHT | ES_READONLY
    LTEXT           "Block size:",IDC_STATIC_BLKSIZ,139,54,50,12
    EDITTEXT        IDC_EDIT_BLKSIZ,194,52,60,14,ES_RIGHT | ES_READONLY
    LTEXT           "Max dir. entries:",IDC_STATIC_MAXDIR,10,70,80,12
    EDITTEXT        IDC_EDIT_MAXDIR,69,68,60,14,ES_RIGHT | ES_READONLY
    LTEXT           "Dir. blocks:",IDC_STATIC_DIRBLKS,139,70,50,12
    EDITTEXT        IDC_EDIT_DIRBLKS,194,68,60,14,ES_RIGHT | ES_READONLY
    LTEXT           "Boot track:",IDC_STATIC_BOOTTRK,10,86,80,12
    EDITTEXT        IDC_EDIT_BOOTTRK,69,84,60,14,ES_RIGHT | ES_READONLY
    LTEXT           "Could be it?",IDC_STATIC_PROBABILITY,139,86,50,12
    EDITTEXT        IDC_EDIT_PROBABILITY,194,84,60,14,ES_READONLY
    CONTROL         "Use this disk type for other images in current session",IDC_CHECK_SAVE_TYPE_CUR,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,103,181,12
    CONTROL         "Save to config file", IDC_CHECK_SAVE_TYPE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 120, 181, 12
    DEFPUSHBUTTON   "OK",IDOK,140,137,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,200,137,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_FORMAT_SELECT, DIALOG
    BEGIN
        BOTTOMMARGIN, 144
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_FORMAT_SELECT AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // English (United Kingdom) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

